<div class="bookmarkpage-container module-none" module="bookmarkpage" id="bookmarkpage_container">
    <div class="bookmarkpage">
        <div class="b-head"></div>
        <div class="b-tab row-top">
            <div class="b-title row-center"  id="b_title"></div>
        </div>
        <div class="b-bookmark column-center">
            <div class="b-bookmark-clear column-start" id="b_clear">
                <div class="b-bookmark-clear-button column-start" name="b_focus" id="b_clear_1_1">
                    <div class="pointer-events" id="b_bookmark_clear_title"></div>
                </div>
            </div>
            <div class="b-bookmark-list">
                <div class="b-bookmark-list-container" id="b_bookmark"></div>
            </div>
        </div>
        <div class="b-footer"></div>
    </div>
</div>