<div class="homepage-container" module="homepage" id="homepage_container">
    <div class="homepage">
        <div class="h-head"></div>
        <div class="row-center h-tab" id="h_tab">
            <div class="row-init h-tab-page">
                <div class="column-center h-tab-focus-button" >
                    <div class="h-button row-center" name="h_focus" id="h_tab_1_1"></div>
                    <div class="current-line"></div>
                </div>
                <div class="divider-5"></div>
                <div class="column-center h-tab-focus-button">
                    <div class="h-button row-center"  name="h_focus" id="h_tab_2_1"></div>
                    <div class="current-line"></div>
                </div>
            </div>
            <div class="h-tab-help">
                <div class="h-search-button row-start" id="h_tab_3_1" name="h_focus">
                    <div class="h-search-icon pointer-events"></div>
                    <div class="divider-2 pointer-events"></div>
                    <div class="pointer-events" id="h_search_title"></div>
                </div>
                <div class="divider-5"></div>
                <div class="h-tab-focus-img row-center" id="h_tab_4_1" name="h_focus"><div class="h-help-img h-help-img-bg pointer-events"></div></div>
                <div class="divider-5"></div>
                <div class="h-tab-focus-img row-center" id="h_tab_5_1" name="h_focus"><div class="h-setting-img h-setting-img-bg pointer-events"></div></div>
            </div>
        </div>
        <div class="h-content">
            <div class="h-recommended display-block" id="h_recommended">
                <div class="h-recommended-list">
                    <div name="h_focus" id="h_recommended_1_1"></div>
                    <div name="h_focus" id="h_recommended_2_1"></div>
                    <div name="h_focus" id="h_recommended_3_1"></div>
                    <div name="h_focus" id="h_recommended_4_1"></div>
                    <div name="h_focus" id="h_recommended_5_1"></div>
                    <div name="h_focus" id="h_recommended_6_1"></div>
                    <div name="h_focus" id="h_recommended_1_2"></div>
                    <div name="h_focus" id="h_recommended_2_2"></div>
                    <div name="h_focus" id="h_recommended_3_2"></div>
                    <div name="h_focus" id="h_recommended_4_2"></div>
                    <div name="h_focus" id="h_recommended_5_2"></div>
                    <div name="h_focus" id="h_recommended_6_2"></div>
                </div>
            </div>
            <div class="h-bookmarks column-between" id="h_bookmarks"></div>
        </div>
        <div class="row-center h-footer">
            <div style="width:50px;height:50px"></div>
        </div>
    </div>
</div>