<div class="privacypage-container module-none" module="privacypage" id="privacypage_container">
    <div class="privacypage">
        <div class="p-head"></div>
        <div class="p-tab row-top">
            <div class="p-title row-center"  id="p_title"></div>
        </div>
        <div class="p-privacy row-top">
            <div class="p-privacy-clear row-between" id="p_clear">
                <div class="p-privacy-clear-button column-center" name="p_focus" id="p_clear_1_1">
                    <div class="pointer-events p-privacy-data-icon"></div>
                    <div class="pointer-events p-privacy-clear-title" id="p_privacy_clear_data">qwe</div>
                </div>
                <div class="p-privacy-clear-button column-center" name="p_focus" id="p_clear_2_1">
                    <div class="pointer-events p-privacy-cookie-icon"></div>
                    <div class="pointer-events p-privacy-clear-title" id="p_privacy_clear_cookie">qwe</div>
                </div>
            </div>
        </div>
        <div class="p-footer"></div>
    </div>
</div>