<div class="searchpage-container" id="searchpage_container">
    <div class="searchpage">
        <div class="s-head"></div>
        <div class="s-search row-top" id="s_search">
            <div class="s-search-tab row-between">
                <div class="s-search-button row-start" id="s_search_1_1" name="s_focus">
                    <div class="s-search-icon pointer-events"></div>
                    <div class="divider-2 pointer-events"></div>
                    <input type="text" class="pointer-events" id="s_search_input">
                </div>
                <!-- <div class="s-search-barcode row-center"  id="s_search_2_1" name="s_focus"></div> -->
            </div>
        </div>
        <div class="s-history row-center">
            <div class="s-history-list" id="s_history">
                <div name="s_focus" id="s_history_1_1"></div>
                <div name="s_focus" id="s_history_2_1"></div>
                <div name="s_focus" id="s_history_3_1"></div>
                <div name="s_focus" id="s_history_1_2"></div>
                <div name="s_focus" id="s_history_2_2"></div>
                <div name="s_focus" id="s_history_3_2"></div>
            </div>
        </div>
        <div class="s-keyboard"></div>
    </div>
</div>