<div class="securitypage-container module-none" module="securitypage" id="securitypage_container">
    <div class="securitypage">
        <div class="sec-head"></div>
        <div class="sec-tab row-top">
            <div class="sec-title row-center"  id="sec_title"></div>
        </div>
        <div class="sec-security column-top" id="sec_security">
            <div class="sec-security-button row-between" name="sec_focus" id="sec_security_1_1">
                <div class="pointer-events" id="sec_security_ads_title"></div>
                <div class="pointer-events sec-security-button-icon"></div>
            </div>
            <div class="sec-security-button row-between" name="sec_focus" id="sec_security_1_2">
                <div class="pointer-events" id="sec_security_webpage_title"></div>
                <div class="pointer-events sec-security-button-icon"></div>
            </div>
        </div>
        <div class="sec-footer"></div>
    </div>
    <div class="sec-security-container " id="sec_ads_container">
        <div class="sec-security-right" id = "sec_ads">
            <div class="sec-security-ads-title" name="his_focus" id="sec_ads_title">
                
            </div>
            <div class="sec-security-list column-top">
                <div class="sec-security-list-container" id = "sec_ads_list"></div>
            </div>
        </div>
    </div>
    <div class="sec-security-container" id="sec_webpage_container">
        <div class="sec-security-right" id = "sec_webpage">
            <div class="sec-security-webpage-title" id="sec_webpage_title">
                
            </div>
            <div class="sec-security-list column-top">
                <div class="sec-security-list-container" id = "sec_webpage_list"></div>
            </div>
        </div>
    </div>
</div>