<div class="settingpage-container module-none" module="settingpage" id="settingpage_container">
    <div class="settingpage">
        <div class="s-head"></div>
        <div class="s-tab row-top">
            <div class="s-title row-center"  id="s_title"></div>
        </div>
        <div class="s-setting row-center">
            <div class="s-setting-list" id="s_setting">
                <div class="s-setting-focus" name="s_focus" router="history" id="s_setting_1_1"><div class="s-setting-icon s-history-icon pointer-events"></div><div class="s-setting-title"></div></div>
                <div class="s-setting-focus" name="s_focus" router="bookmark" id="s_setting_2_1"><div class="s-setting-icon s-bookmark-icon pointer-events"></div><div class="s-setting-title"></div></div>
                <div class="s-setting-focus" name="s_focus" router="privacy" id="s_setting_3_1"><div class="s-setting-icon s-privacy-icon pointer-events"></div><div class="s-setting-title"></div></div>
                <!-- <div name="s_focus" router="account" id="s_setting_4_1"><div class="s-setting-icon s-account-icon pointer-events"></div><div class="s-setting-title"></div></div> -->
                <div class="s-setting-focus" name="s_focus" router="security" id="s_setting_4_1"><div class="s-setting-icon s-security-icon pointer-events"></div><div class="s-setting-title"></div></div>
                <div class="s-setting-focus" name="s_focus" router="about" id="s_setting_1_2"><div class="s-setting-icon s-about-icon pointer-events"></div><div class="s-setting-title"></div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="s-footer"></div>
    </div>
</div>