<div class="page-container" id="aboutpage_container">
    <div class="aboutpage">
        <div class="a-head"></div>
        <div class="a-tab column-top">
            <div class="a-title row-center"  id="a_title"></div>
        </div>
        <div class="a-about column-top" id="a_about">
            <div class="a-about-button row-between focusable display-none" style="margin-bottom: 2%;" id="a_about_update">
                <div class="pointer-events" id="a_about_update_title"></div>
                <div class="pointer-events a-about-is-latest display-none" id="a_about_is_latest"></div>
                <div class="pointer-events a-about-version" id="a_about_version"></div>
                <div class="pointer-events a-about-button-icon"></div>
            </div>
            <div class="a-about-button row-between focusable" id="a_about_cookies">
                <div class="pointer-events" id="a_about_cookies_title"></div>
                <div class="pointer-events a-about-button-icon"></div>
            </div>
            <div class="a-about-button row-between focusable" id="a_about_terms">
                <div class="pointer-events" id="a_about_terms_title"></div>
                <div class="pointer-events a-about-button-icon"></div>
            </div>
            <div class="a-about-button row-between focusable" id="a_about_privacy">
                <div class="pointer-events" id="a_about_privacy_title"></div>
                <div class="pointer-events a-about-button-icon"></div>
            </div>
            <div class="a-about-button row-between focusable" id="a_about_select">
                <div class="pointer-events" id="a_about_privacy_select"></div>
                <div class="a-about-select" id="a_check_select">
                    <div class="a-slider"></div>
                </div>
            </div>
        </div>
        <div class="a-footer row-top">
            <div class="a-about-copyright" id="a_about_copyright"></div>
        </div>
    </div>
</div>