<div class="page-container" id="bookmarkpage_container">
    <div class="bookmarkpage">
        <div class="b-head"></div>
        <div class="b-tab row-top">
            <div class="b-title row-center"  id="b_title"></div>
        </div>
        <div class="b-bookmark column-center">
            <div class="b-bookmark-clear column-start" id="b_clear">
                <div class="b-bookmark-clear-button row-center focusable" >
                    <div class="pointer-events" id="b_bookmark_clear_title"></div>
                </div>
            </div>
            <div class="b-bookmark-list">
                <div class="b-bookmark-list-container" id="b_bookmark"></div>
            </div>
        </div>
        <div class="b-footer"></div>
    </div>
    <div class="b-bookmark-dialog row-center display-none" id="b_bookmark_dialog">
        <div class="dialog-content row-center">
            <div class="b-bookmark-input focusable">
                <input class="focusable" type="text" maxlength="2048" id="b_edit_input">
            </div>
            <div class="dialog-save row-center focusable"><img src="app/image/common/save.webp"></div>
            <div class="dialog-cancel row-center focusable"><img src="app/image/common/delete.webp"></div>
        </div>
    </div>
</div>
