<div class="page-container" id="helppage_container">
    <div class="helppage">
        <div class="hel-head"></div>
        <div class="hel-tab column-between">
            <div class="hel-title"  id="hel_title"></div>
            <div class="hel-page row-center">
                <div class="hel-page-item"></div>
                <div class="hel-page-item"></div>
                <div class="hel-page-item"></div>
            </div>
        </div>
        <div class="hel-content">
            <div class="hel-help-list row-center">
                <div class="hel-item column-between focusable" id="hel-item-1">
                    <div class="hel-item-info row-center"><div class="hel-image item1"></div></div>
                </div>
                <div class="hel-item column-between focusable" id="hel-item-2">
                    <div class="hel-item-info row-center"><div class="hel-image item2"></div></div>
                </div>
                <div class="hel-item column-top " id="hel-feedback">
                    <div class="hel-item-info column-around">
                        <div class="focusable hel-email" id="hel_email" data-sn-up="" data-sn-down="#hel_textarea">
                            <input class="pointer-events focusable" id="hel_email_input" placeholder="email" maxlength="100">
                        </div>
                        <div class="focusable hel-textarea" id="hel_textarea" data-sn-down="#hel_submit" data-sn-up="#hel_email">
                            <textarea class="pointer-events focusable" id="hel_textarea_input" placeholder="Detailed description" maxlength="2048"></textarea>
                        </div>
                        <div class="hel-item-button row-center focusable" id="hel_submit">submit</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>