<div class="searchpage-container" id="searchpage_container">
    <div class="searchpage">
        <div class="s-head"></div>
        <div class="s-search row-top"  id="s_search">
            <div class="s-search-tab row-between">
                <div class="s-search-button row-start focusable" id="s_search_button">
                    <input class="pointer-events focusable" maxlength="2048" id="s_search_input">
                    <div class="s-search-icon pointer-events"></div>
                </div>
                <!-- <div class="s-search-barcode row-center"  id="s_search_barcode" ></div> -->
            </div>
        </div>
        <div class="s-history row-center">
            <div class="s-history-list" id="s_history">
                <div class="focusable"  id="s_history_1_1"><span></span></div>
                <div class="focusable"  id="s_history_2_1"><span></span></div>
                <div class="focusable"  id="s_history_3_1"><span></span></div>
                <div class="focusable"  id="s_history_1_2"><span></span></div>
                <div class="focusable"  id="s_history_2_2"><span></span></div>
                <div class="focusable"  id="s_history_3_2"><span></span></div>
            </div>
        </div>
        <div class="s-keyboard"></div>
    </div>
</div>