<div class="page-container" id="securitypage_container">
    <div class="securitypage">
        <div class="sec-head"></div>
        <div class="sec-tab row-top">
            <div class="sec-title row-center"  id="sec_title"></div>
        </div>
        <div class="sec-security column-top" id="sec_security">
            <div class="sec-security-button row-between focusable" id="sec_security_ads">
                <div class="pointer-events" id="sec_security_ads_title"></div>
                <div class="pointer-events sec-security-button-icon"></div>
            </div>
            <div class="sec-security-button row-between focusable" id="sec_security_webpage">
                <div class="pointer-events" id="sec_security_webpage_title"></div>
                <div class="pointer-events sec-security-button-icon"></div>
            </div>
        </div>
        <div class="sec-footer"></div>
    </div>
    <div class="sec-security-container " id="sec_ads">
        <div class="sec-security-right">
            <div class="sec-security-ads-button row-around focusable" id="sec_disabled_all_popup">
                <div id="sec_ads_title"></div>
                <div>
                    <div class="sec-slider"></div>
                </div>
            </div>
            <div class="sec-security-list column-top">
                <div class="sec-security-list-container" id = "sec_ads_list"></div>
            </div>
        </div>
    </div>
    <div class="sec-security-container" id="sec_webpage">
        <div class="sec-security-right">
            <div class="sec-security-webpage-title" id="sec_webpage_title">
                
            </div>
            <div class="sec-security-list column-top">
                <div class="sec-security-list-container" id = "sec_webpage_list"></div>
            </div>
        </div>
    </div>
</div>