<div class="page-container" id="selbookmarkpage_container">
    <div class="selbookmarkpage">
        <div class="sel-head"></div>
        <div class="sel-tab row-top">
            <div class="sel-title row-center"  id="sel_title"></div>
        </div>
        <div class="sel-content row-center">
            <div class="sel-bookmark-list row-init">

            </div>
        </div>
        <div class="sel-footer row-top">
            <div class="sel-next-button row-center focusable">next</div><div class="sel-skip-button row-center focusable">Skip ></div>
        </div>
    </div>
</div>