<div class="page-container" id="settingpage_container">
    <div class="settingpage">
        <div class="s-head"></div>
        <div class="s-tab row-top">
            <div class="s-title row-center"  id="s_title"></div>
        </div>
        <div class="s-setting row-center">
            <div class="s-setting-list" id="s_setting">
                <div class="s-setting-focus focusable" router="history" id="router_history">
                    <div class="s-setting-icon s-history-icon pointer-events"></div>
                    <div class="s-setting-title" id="setting_history_title"></div>
                </div>
                <div class="s-setting-focus focusable" router="bookmark">
                    <div class="s-setting-icon s-bookmark-icon pointer-events"></div>
                    <div class="s-setting-title" id="setting_bookmark_title"></div>
                </div>
                <div class="s-setting-focus focusable" router="privacy">
                    <div class="s-setting-icon s-privacy-icon pointer-events"></div>
                    <div class="s-setting-title" id="setting_privacy_title"></div>
                </div>
                <!-- <div router="account" router="account">
                    <div class="s-setting-icon s-account-icon pointer-events"></div>
                    <div class="s-setting-title" id="setting_account_title"></div>
                </div> -->
                <div class="s-setting-focus focusable" router="security" id="router_security">
                    <div class="s-setting-icon s-security-icon pointer-events"></div>
                    <div class="s-setting-title" id="setting_security_title"></div>
                </div>
                <div class="s-setting-focus focusable" router="about" id="router_about">
                    <div class="s-setting-icon s-about-icon pointer-events"></div>
                    <div class="s-setting-title" id="setting_about_title"></div>
                </div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="s-footer"></div>
    </div>
</div>