.searchpage-container {
    width: 100%;
    height: 100%;
    background-image: var(--DEFAULT-BACKGROUND);
    position: absolute;
    top:0;
    left:0;
    overflow: hidden;
}
.searchpage {
    width:100%;
    height: 100%;
    display: -webkit-flex;
    flex-flow: column nowrap;
    align-items:center;
    justify-content:space-between;
    opacity: 0.99;
}
/* 设置高度是为了兼容低版本chrome flex为column排版时，子元素无法继承height */
.s-head{
    -webkit-flex:1;
    width:100%;
    height: 14.28%;
}
.s-search{
    -webkit-flex: 1;
    width: 100%;
    height: 14.28%;
}
.s-history{
    -webkit-flex:2;
    width: 100%;
    height: 28.56%;
}
.s-keyboard{
    -webkit-flex:3;
    width: 100%;
    height: 42.86%;
}
.s-search-tab{
    width:60%;
    height: 40%;
    position: relative;
}
.s-search-button{
    width:100%;
    height: 100%;
    border-radius: 140px;
    padding:0 1% 0 3%;
    background: #535A7F;
    cursor:pointer;
    display: flex;
}
.s-search-button.active{
    background: var(--THEME-BUTTON);
}

.s-search-icon{
    height: 4vh;
    width:4vh;
    background:url("../image/common/searchpage-icon.webp") no-repeat;
    background-size:auto 100%;
}

.s-search-button input{
    flex: 1;
    height: 100%;
    overflow: hidden;
    font-size: 1rem;
}
.s-search-button input::-webkit-input-placeholder{
    color: rgb(198, 207, 255);
}
.s-search-barcode{
    height:100%;
    width: 10%;
    position: absolute;
    top:0;
    right: -10%;
    background: url("../image/common/barcode.png") right center no-repeat;
    background-size: auto 100%;
    cursor:pointer;
}
.s-search-barcode.active{
    background:url("../image/common/barcode-active.png") right center no-repeat;
    background-size: auto 100%;
}

.s-history-list{
    width:60%;
    height: 100%;
    display: -webkit-flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    align-content: flex-start;
}
.s-history-list > div{
    width:30%; 
    height: 20%;
    margin-bottom:5%;
    border-radius:144px;
    cursor:pointer;
    background:#535A7F;
    display: flex;
    align-items: center;
    justify-content: center;
}
.s-history-list > div > span{
    width:85%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    pointer-events: none;
}
.s-history-list > div.active{
    background: var(--THEME-BUTTON);
}